* {
  margin: 0
}

body {
  width: 100vw;
  /* height: 100vh; */
  background-color: #E8F0E6;
  /* background-image:linear-gradient(180deg, #EEF3EC 0%, #F7F9F6 100%) */
  overflow: scroll;
}

header {
  background-image: url('/images/bg-image.jpeg');
  background-size: cover;
  height: 60%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

header {
  font-size: 30px;
  color: #fff;
}

header h2 {
  font-size: 20px;
  position: relative;
  top:-10em
}

header h1,
header h2 {
  display: flex;
  justify-content: center;
  height: 7em;
  align-items: center;
}

nav {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: center;
  gap: 6em;
  font-size: 20px;
}