* {
  margin: 0
}

body {
  width: 100vw;
  background-color: #f6f8ec;
  overflow: scroll;
}

header h1,
header h2,
ul,
nav,
main,
footer {
  display: flex;
}

body>header {
  background-image: url('/images/bg-image.jpeg');
  background-size: cover;
  height: 60%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  font-size: 2em;
  color: #FAFAFA;
}

body>header h2 {
  font-size: .7em;
  position: relative;
  top: -10em
}

body>header h1,
body>header h2 {
  justify-content: center;
  height: 7em;
  align-items: center;
}

nav {
  position: relative;
  top: 10px;
  flex-direction: row;
  width: 100%;
}

a {
  text-decoration: none;
}

header a {
  color: whitesmoke;
}

ul {
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: center;
  gap: 6em;
  font-size: .7em;
}

main {
  margin-top: 4em;
  justify-content: center;
}


main aside {
  border-left: 2px solid #ddd;
  padding-left: 2em;
  overflow-y: scroll;
  border-radius: 10px;
}

article {
  color: #555;
  width: 59em;
}

address {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  margin-top: 2em;
  border-top: 2px solid #394611
}


article h2 {
  font-size: 2em;
}

mark {
  background-color: rgba(57, 70, 17,0.7);
  color: #FAFAFA
}

article section:nth-child(1) {
  p {
    font-weight: 600;
  }

  time {
    font-weight: 500;
  }
}

p,
figure,
details {
  font-size: 1.2em;
}

article p,
figure {
  padding-bottom: 2em;
}

h3 {
  font-size: 1.5em;
}

figure img {
  width: 40em;
}



dialog {
  position: relative;
  left: 14em;
  background-color: #394611;
}

dialog p {
  padding: .2em;
}

p {
  color: #333333
}

footer {
  margin-top: 6em;
  width: 100%;
  height: 10em;
  background-color: #394611;
  color: whitesmoke;
}

footer {
  justify-content: space-around;
  align-items: center;
}

footer p,
dialog p {
  color: #FAFAFA;
}